<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/reader.css">
<script type="text/javascript" src="js/reader.min.js"></script>
<script type="text/javascript">
function Story(data) {
  //Private Members
  var self = this;

  var buttons = {
    play : $("#btn-play"),
    playIcon: $("#btn-play use"),
    tempo : $("#btn-tempo"),
    settings : $("#btn-settings"),
    settingClose : $("#btn-setting-close"),
    settingSave : $("#btn-setting-save"),
    settingCancel : $("#btn-setting-cancel")
  }
  var overlay = {
    self : $("#overlay"),
    shadow : $("#overlay #shadow"),
    modal : $("#overlay #modal")
  }
  var tempoSlider = $("#input-tempo");
  var tempoSliderWrapper = $("#tempo-cont");

  var tempo = 1;
  this.Settings = {
    tempoMin : 0,
    tempoMax : 1
  }

  var StoryConstants = {
    TEMPO : {
      ATTR : "tempo",
      REGEX : /(\d?\d?\d?.?\d?\d?)/
    },
    MEASURE : {
      ATTR : "measure",
      REGEX : /(-?\d?\d?\d?\.?\d?\d?)([sSfF])([-<>~])(-?\d?\d?\d?\.?\d?\d?)/,
      PROP_LENGTH : 4
    },
    ANIMATION : {
      DISPLAY : {
        HIDE : "none",
        SHOW : "inline-block"
      },
      SLIDE : {
        AMOUNT : 100,
        DURATION_REDUCTION : .9
      }
    }
  }
  //Easing Visualizer : http://greensock.com/ease-visualizer
  var EaseTypes = {
    "-" : Power0.easeNone,
    "<" : Power4.easeIn,
    ">" : Power4.easeOut,
    "~" : Power2.easeInOut
  }
  var TweenTypes = {
    "f" : function(element, delay, easing, duration) {return [TweenLite.to(element, duration, {onStart: function(){TweenLite.set(element, {display: StoryConstants.ANIMATION.DISPLAY.SHOW})}, opacity: 1, delay: delay, ease: EaseTypes[easing]})];},
    "F" : function(element, delay, easing, duration) {return [TweenLite.to(element, duration, {opacity: 0, delay: delay, ease: EaseTypes[easing], onComplete: function(){TweenLite.set(element, {display: StoryConstants.ANIMATION.DISPLAY.HIDE})}})];},
    "s" : function(element, delay, easing, duration) {return [TweenLite.from(element, duration, {onStart: function(){TweenLite.set(element, {display: StoryConstants.ANIMATION.DISPLAY.SHOW})}, left: StoryConstants.ANIMATION.SLIDE.AMOUNT, delay: delay, ease: EaseTypes[easing]}),
                                  TweenLite.to(element, duration, {opacity: 1, delay: delay-(duration*(1-StoryConstants.ANIMATION.SLIDE.DURATION_REDUCTION)), ease: EaseTypes[easing]})];},
    "S" : function(element, delay, easing, duration) {return [TweenLite.to(element, duration*StoryConstants.ANIMATION.SLIDE.DURATION_REDUCTION, {left: StoryConstants.ANIMATION.SLIDE.AMOUNT, delay: delay, ease: EaseTypes[easing], onComplete: function(){TweenLite.set(element, {display: StoryConstants.ANIMATION.DISPLAY.HIDE})}}),
                                  TweenLite.to(element, duration, {opacity: 0, delay: delay, ease: EaseTypes[easing]})];}
  }
  var timeline = new TimelineMax({paused: true, onComplete: function() {buttons.playIcon.attr("xlink:href", "#replay")}});
  var init = function(data) {
    var root = $(data.firstChild);
      var tempoAttr = StoryConstants.TEMPO.REGEX.exec(root.attr(StoryConstants.TEMPO.ATTR));
      if (tempoAttr.length == 2) tempo = tempoAttr[1];
      timeline.timeScale(tempo);
      $("article").append(root.html());
      $("[" + StoryConstants.MEASURE.ATTR + "]").each(function() {
        measure(this)
      });
      play();
  }
  var measure = function(element) {
    var $elem = $(element);
    var measuresByElement = $elem.attr(StoryConstants.MEASURE.ATTR).split(" ");
    for (var i=0; i < measuresByElement.length; i++) {
      animateMeasure($elem, measuresByElement[i]);
    }
  }
  var animateMeasure = function(element, measure) {
    var props = StoryConstants.MEASURE.REGEX.exec(measure);
    if (props.length != StoryConstants.MEASURE.PROP_LENGTH+1) return;
    timeline.add(configureTween(element, props));
  }
  var configureTween = function(element, props) {
    return TweenTypes[props[2]](element, props[1], props[3], props[4]);
  }
  var play = function() {
    timeline.play();
    buttons.playIcon.attr("xlink:href", "#pause");
  }
  var pause = function() {
    timeline.pause();
    buttons.playIcon.attr("xlink:href", "#play");
  }
  var restart = function() {
    timeline.restart();
    buttons.playIcon.attr("xlink:href", "#pause");
  }
  var mainAction = function() {
    var isPlaying = timeline.isActive();
    var isComplete = timeline.progress() == 1;;
    if (isPlaying) {
      pause();
    } else  {
      if (!isComplete) {
        play();
      } else {
        restart();
      }
    }
  }
  var closeSettingsModal = function() {
    overlay.modal.addClass("offscreen-top");
    overlay.shadow.addClass("opacity-clear");
    window.setTimeout(function() {
      overlay.self.addClass("hide");
    }, 600);
  }
  var settingsAction = function() {
    if (overlay.self.hasClass("hide")) {
      retrieveSettings();
      overlay.self.removeClass("hide");
      overlay.shadow.removeClass("opacity-clear");
      overlay.modal.removeClass("offscreen-top");
    } else {
      closeSettingsModal();
    }
  }
  var tempoAction = function() {
    tempoSliderWrapper.toggleClass("offscreen-left");
  }
  var getNewSettings = function() {
    var newSettings = {};
    overlay.modal.find("input").each(function() {
      var $this = $(this);
      if ($this.attr("name")) {
        var setting = {};
        setting.value = $this.val();
        setting.format = $this.attr("format");
        setting.required = $this.attr("required");
        setting.default = $this.attr("default");
        setting.min = $this.attr("min");
        setting.max = $this.attr("max");
        newSettings[$this.attr("name")] = setting;
      }
    });
    return newSettings;
  }
  var validateSettings = function(newSettings) {
    var errorCount = 0;
    var errors = {};
    for (var setting in newSettings) {
      var settingValue = newSettings[setting];
      var errorValue = [];
      if (settingValue.required && settingValue.value == "") {
        errorValue.push(setting + " is required");
        errorCount++;
      } else if (settingValue.value == "") {
        newSettings[setting].value = settingValue.default;
      }
      if (settingValue.format) {
        if (!new RegExp(settingValue.format).test(settingValue.value)) {
          errorValue.push(setting + " does not match format " + settingValue.format);
          errorCount++;
        }
      }
      if (settingValue.min) {
        if (settingValue.value < settingValue.min) {
          errorValue.push(setting + " should be greater than " + settingValue.min);
          errorCount++;
        }
      }
      if (settingValue.max) {
        if (settingValue.value > settingValue.max) {
          errorValue.push(setting + " should be less than " + settingValue.max);
          errorCount++;
        }
      }
      if (errorValue.length > 0) {
        errors[setting] = errorValue;
      }
    }
    newSettings.errors = errors;
    console.log(newSettings);
    return errorCount == 0;
  }
  var applySettings = function(newSettings) {
    overlay.modal.find("input").each(function() {
      var $this = $(this);
      if ($this.attr("name")) {
        self.Settings[$this.attr("name")] = ($this.attr("format"))?new RegExp($this.attr("format")).exec($this.val()):$this.val();
      }
    });
  }
  var retrieveSettings = function() {
    for (var setting in self.Settings) {
      overlay.modal.find("[name="+setting+"]").val(self.Settings[setting]);
    }
  }
  var saveSettingsAction = function() {
    var newSettings = getNewSettings();
    if (validateSettings(newSettings)) {
      //applySettings(newSettings);
      closeSettingsModal();
    } else {
      console.log(newSettings.errors);
    }
  }

  //Events
  var click = "click tap";
  buttons.play.on(click, function() {
    mainAction();
  });
  buttons.settings.on(click, function() {
    settingsAction();
  });
  buttons.settingClose.on(click, function() {
    settingsAction();
  });
  overlay.shadow.on(click, function() {
    settingsAction();
  });
  buttons.settingSave.on(click, function() {
    saveSettingsAction();
  });
  buttons.settingCancel.on(click, function() {
    settingsAction();
  });
  buttons.tempo.on(click, function() {
    tempoAction();
  });

  init(data);
  return this;
}
var story;
$(document).ready(function(){
  console.log("DOM Loaded!");
  $.ajax({
    type: 'GET',
    url: 'test.xml',
    dataType: 'xml',
    async: true,
    success: function(data){
      story = new Story(data);
    },
    error: function(xhr, type){
      alert('Story failed to load for URL: test.xml');
    }
  });
});
</script>
</head>
<body class="overflow-auto">
  <section id="icon-import">
    <%- include("../partials/icons") -%>
  </section>
  <section id="article-cont" class="relative z1 box-sizing overflow-auto">
    <article class="p1"></article>
  </section>
  <section class="fixed z2 bottom-0 right-0 left-0 bg-secondary p1 border-top">
    <nav class="clearfix">
      <section class="col col-2">
        <button id="btn-tempo" class="btn btn-outline left rounded" title="Tempo">
          <svg class="btn-icon">
            <use xlink:href="#tempo"/>
          </svg>
        </button>
        <section id="tempo-cont" class="fixed offscreen-left transition-left px2 border-box col-12 left-0">
          <section class="bg-secondary color-action p1 border border-box rounded col-12">
            <input id="input-tempo" class="m0 input-range col-12" type="range" />
          </section>
        </section>
      </section>
      <section class="col col-8">
        <section class="center">
          <button id="btn-play" class="btn btn-primary rounded">
            <svg class="btn-icon">
              <use xlink:href="#play"/>
            </svg>
          </button>
        </section>
      </section>
      <section class="col col-2">
        <button id="btn-settings" class="btn btn-outline right rounded" title="Settings">
          <svg class="btn-icon">
            <use xlink:href="#settings"/>
          </svg>
        </button>
      </section>
    </nav>
  </section>
  <section id="overlay" class="hide">
    <section id="shadow" class="fixed z3 bottom-0 right-0 left-0 top-0 opacity-clear transition-opacity"></section>
    <section id="modal" class="clearfix absolute z4 offscreen-top transition-top p1 border-box top-0 col-12 pointer-events-none">
      <section class="md-col-10 lg-col-8 col-12 relative mx-auto bg-primary rounded pointer-events-all">
        <header class="bg-action p1">
          <h1 class="h1 mt1 mb1 color-alternate">Settings</h1>
        </header>
        <section class="px1">
          <h2 class="h2">Tempo</h2>
          <label for="tempoMin" class="label">Minimum : </label><input id="tempoMin" name="tempoMin" required="true" format="\d?\d?\d?" class="input block col-12"/>
          <label for="tempoMax" class="label">Maximum : </label><input id="tempoMax" name="tempoMax" required="true" format="\d?\d?\d?" class="input block col-12"/>
        </section>
        <section class="p1 clearfix">
          <section class="right">
            <button id="btn-setting-save" class="btn btn-primary rounded">Save</button>
            <button id="btn-setting-cancel" class="btn btn-outline">Cancel</button>
          </section>
        </section>
      </section>
    </section>
  </section>
</body>
</html>